html
    head
        title Link Shortener
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
        script(src='./includes/client.js')
    body
        .ui.large.top.fixed.hidden.menu
          .ui.container
            a.active.item(href="/") Home
            a.item(href="/admin") Admin
        div(style="margin-top: 6%;" class="container")
            div
                div(class="ui equal width stackable internally celled grid")
                    div(class="center aligned row")
                        div(class="column")
                            h3
                                | Use this to shorten any URL
                            p
                                | Enter a URL of your choice
                            div
                                form.ui.form(id="shortener_form")
                                    div.inline.fields
                                        .field(class="fourteen wide")
                                            input(type='text' id='shortener_form_long_url' placeholder='Long URL')
                                        .field(class="two wide")
                                            button.ui.button(type='button' id="shortener_form_submit") Submit
                            div.ui.center(id="shortener_message")
                        div(class="column")
                            h3
                                | Use this to resolve a shortened URL
                            p
                                | Enter a shortened URL
                            div
                                form.ui.form(id="resolver_form")
                                    div.inline.fields
                                        .field(class="fourteen wide")
                                            input(type='text' id='resolver_form_short_url' placeholder='Shortened URL')
                                        .field(class="two wide")
                                            button.ui.button(type='button' id="resolver_form_submit") Submit
                            div.ui.center(id="resolver_message")